[submodule "submodules/dockerfiles"]
	path = submodules/jessfraz-dockerfiles
	url = https://github.com/jessfraz/dockerfiles.git
[submodule "submodules/docker-stacks"]
	path = submodules/jupyter-docker-stacks
	url = https://github.com/jupyter/docker-stacks.git
[submodule "submodules/x11docker"]
	path = submodules/x11docker
	url = https://github.com/mviereck/x11docker.git
[submodule "submodules/docker-headless-vnc-container"]
	path = submodules/docker-headless-vnc-container
	url = https://github.com/ConSol/docker-headless-vnc-container.git
