[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Run Xfce terminal emulator
Exec=xfce4-terminal
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=true
