#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Run Xfce terminal emulator
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
StartupNotify=true
